include ../node_modules/bemto.jade/bemto
//
  <?php

  $utm_medium = '-';
  $utm_source = '-';
  $utm_campaign = '-';
  $utm_term = '-';
  $utm_content = '-';

  if (isset($_GET['utm_medium'])) {
    $utm_medium = $_GET['utm_medium'];
  }

  if (isset($_GET['utm_source'])) {
    $utm_source = $_GET['utm_source'];
  }

  if (isset($_GET['utm_campaign'])) {
    $utm_campaign = $_GET['utm_campaign'];
  }

  if (isset($_GET['utm_term'])) {
    $utm_term = $_GET['utm_term'];
  }

  if (isset($_GET['utm_content'])) {
    $utm_content = $_GET['utm_content'];
  }
  $url = $_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'];
  $utm =  $_SERVER["QUERY_STRING"];
  ?>

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Индивидуальное проектирование домов и зданий

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')


  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet")
  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .loader.loader_submit
    .loader__spinner
    .loader__text Обработка...
  .top
    .container
      .row
        +b.col._lg_6._md_6._sm_6._xs_5
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text Ростов-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col._lg_6._md_6._sm_6._xs_7
          +b.phone-grup 
            +e.phone.primegate-phone 8 (863) 303-38-33
            +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
            +e.email info@bk-invent.ru
  .header
    .container
      .offer 
        .offer__text.start-animate
          |Индивидуальное проектирование домов и зданий
          br
          |в Ростове-на-Дону и Ростовской области
        .offer__action.order.start-animate(style="animation-delay: .2s") Пригласить архитектора на объект


  +b.formm
      .container
        +e.title Калькулятор расчета стоимости услуг архитектора
        +e.text Укажите основные параметры проекта: тип объекта и предполагаемую площадь,<br>а также ваш номер телефона для получения расчета:
        +b.form
          form.ajax
            input(placeholder='Введите Ваше имя' name='name').input
            input(placeholder='Введите Ваш телефон' name='phone').input
            input(placeholder='Тип объекта' name='c1').input.input_type_mini
            input(placeholder='Площадь' name='c2').input.input_type_mini
            input(type='hidden', name='url', value!="<?echo $url?>")
            input(type='hidden', name='utm', value!="<?echo $utm?>")
            input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
            input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
            input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
            input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
            input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
            input(type='hidden', name='order', value!='Проектирование домов')
            input(type='submit' value='Отправить').form__btn

  //-.container
    .triggers
      .row
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img1.png').triggers__img
          .triggers__text Опыт работы<br>более 6 лет
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img6.png').triggers__img
          .triggers__text Цены ниже<br>среднерыночных<br>на 7-12%
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img5.png').triggers__img
          .triggers__text Применяем<br>сертифицированные<br>материалы
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img10.png').triggers__img
          .triggers__text Проколы диаметром<br>от 25мм до 900 мм
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img12.png').triggers__img
          .triggers__text Без выхода на поверхность<br>до 400 м
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img3.png').triggers__img
          .triggers__text Возможность прокола<br>из колодца в колодец
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img11.png').triggers__img
          .triggers__text Используем технику <br>с разными возможностями
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img4.png').triggers__img
          .triggers__text Предоставляем всю документацию, согласно НОССТРОЙ

  //-   .container
  //-     +e.title Что такое паспорт водного хозяйства? 
  //-     +e.text 
  //-       p Паспорт водного хозяйства — это один из основных нормативно-технических документов компании, позволяющий осуществлять учет количества и состава производственных сбросов в систему канализации. В нем содержатся данные о том, к аким образом предприятие использует находящиеся в его распоряжении водные ресурсы, а также определяется степень воздействия деятельности компании на окружающую среду.
  //-       p Срок действия документа — 5 лет

  //-.stock
    .container
      .row
        +b.col._lg_5._md_5._sm_12._xs_12._lg-offset_1
            
          .stock__title
            span Внимание 
            | акция!
          .stock__text 
            |Оставьте заявку <span>СЕГОДНЯ</span> и получите
            br
            |разовый <span>БЕСПЛАТНЫЙ</span> выезд инженера
          +b.timer
            #timer
              +e.action До конца акции осталось:
              .digits
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text дней
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text часов
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text минут
        +b.col._lg_5._md_6._sm_12._xs_12
          .wall
            .wall__title
              span Заполните форму,
              br
              |чтобы получить бесплатную
              br
              |консультацию специалиста

            .form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='hidden', name='order', value!='Горизонтально направленное бурение. <?echo $cities[$сity][0]?>. Выезд инженера')
                input(type='submit' value='Отправить').form__btn

  //-+b.info
    +e.container
        +e.icon
        +e.title
        +e.text
          p ГНБ является альтернативой траншейному методу прокладывания коммуникаций. Такая методика имеет ряд преимуществ, которые заключаются в следующем:
          ul
            li
              | Объем земляных работ минимален, это ускоряет процесс работ и снижает финансовые издержки;
            li
              | Возможность прокладывания коммуникаций в любых условиях: стесненная часть города, под водоемом, дорогой, жд путями и т.д.
            li
              | Не нарушается дорожное покрытие, благоустройстве поверхности и т.д., что исключает издержки на восстановление.
            li
              | Технология ГНБ не требует привлечения большого количества техники, бригады. А установки могут работать автономно, что не требует дополнительного источника питания и т.д.
          p Таким образом, прокладывание коммуникаций методом ГНБ является современным высокотехнологичным методом, которое позволяет сократить как временные, так и финансовые издержки на строительство.
  .bg
    +b.gnb        
      .title Услуги
        .container
          .row
            .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
              +e.item(data-product!="Проектирование домов. Эскизное проектирование")
                +e(tag="img", src="img/gnb-1.jpg").img
                +e.title 
                  span Эскизное<br>проектирование
                +e.text
                  //span Технические возможности:
                  ul
                    li Пояснительная записка
                    li Планы фасадов
                    li Планы всех этажей, подвала и чердака
                    li 3D цветные визуализации дома
                    li Чертеж с поперечным и/или продольным разрезом дома
                    li План кровли
                    li Генеральный план участка с местом расположения на нем дома
                    li План фундамента
                  p Полная готовность к получению разрешения (уведомления) на строительство!
                +e.btn-wraper
                  .btn(data-product!="Проектирование домов. Эскизное проектирование") Заказать 
            .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
              +e.item(data-product!="Проектирование домов. Архитектурная рабочая документация")
                +e(tag="img", src="img/gnb-2.jpg").img
                +e.title
                  span Архитектурная рабочая документация
                +e.text
                  //span Технические возможности:
                  ul
                    li Пояснительная записка с исходными данными для архитектурно-строительного проектирования;
                    li Схема планировочной организации земельного участка;
                    li Архитектурные решения;
                    li Конструктивные и объемно-планировочные решения;
                    li Проект организации строительства объектов капитального строительства;
                    li Проект организации работ по сносу или демонтажу объектов капитального строительства, их частей (при необходимости);
                    li Перечень мероприятий по охране окружающей среды;
                    li Перечень мероприятий по обеспечению пожарной безопасности;
                    li Смета на строительство, экономическое обоснование

                  p Полная готовность к строительству!

                +e.btn-wraper
                  .btn(data-product!="Проектирование домов. Архитектурная рабочая документация") Заказать 
            .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
              +e.item(data-product!="Проектирование домов. Архитектурное проектирование + все инженерные сети")
                +e(tag="img", src="img/gnb-4.jpg").img
                +e.title
                  span Архитектурное проектирование + все инженерные сети
                +e.text
                  //span Технические возможности:
                  span Архитектурное проектирование
                  span(style="margin-bottom: 10px;font-size:18px;") +
                  ul
                    li Технические условия на все инженерные коммуникации (газификация, электричество, водоснабжение, водоотведение), при наличии возможности подключения к городским сетям или альтернативное предложение автономных коммуникаций
                    li Согласованная проектная документация стадии РД по наружным сетям, внутриплощадочным и внутридомовым. 
                    li Сведения об инженерном оборудовании, о сетях инженерно-технического обеспечения, перечень инженерно-технических мероприятий, содержание технологических решений по всем необходимым коммуникациям
                  p Полная готовность к строительству с подведением и разводкой инженерных сетей!



                +e.btn-wraper
                  .btn(data-product!="Проектирование домов. Архитектурное проектирование + все инженерные сети") Заказать
            .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
              +e.item(data-product!="Проектирование домов. Дизайн фасада, экстерьера, интерьера. 3D-моделирование")
                +e(tag="img", src="img/gnb-3.jpg").img
                +e.title
                  span Дизайн фасада, экстерьера, интерьера. <br>3D-моделирование
                +e.text
                  //span Технические возможности:
                  ul
                    li Концептуальное решение
                    li 3D моделирование
                    li 3D визуализация
                    li Цветовое решение
                    li Расчетные чертежи
                    li Паспорт отделки
                    li Смета на отделочные материалы
                    li Подбор материалов и поставщиков
                    li Авторский надзор
                  p Полная готовность к эстетическому преображению вашего интерьера и экстерьера!

   
                +e.btn-wraper
                  .btn(data-product!="Проектирование домов. Дизайн фасада, экстерьера, интерьера. 3D-моделирование") Заказать


    .title Реализованные проекты
    .container
      .row
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k1.jpg").product__img
              .product__bg
                  .product__text
                      .product__title Двухэтажный<br>жилой дом на 257 кв.м
                      .product__btn(data-img="kk1.jpg")
                          | Подробнее
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k2.jpg").product__img
              .product__bg
                  .product__text
                    .product__title Жилой дом<br>на 123,4 кв.м
                    .product__btn(data-img="kk2.jpg")
                          | Подробнее
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k3.jpg").product__img
              .product__bg
                  .product__text
                      .product__title Жилой дом<br>на 115,3 кв.м
                      .product__btn(data-img="kk3.jpg")
                          | Подробнее
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k4.jpg").product__img
              .product__bg
                  .product__text
                    .product__title Жилой дом<br>на 121,4 кв.м
                    .product__btn(data-img="kk4.jpg")
                          | Подробнее
        
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k5.jpg").product__img
              .product__bg
                  .product__text
                      .product__title Жилой дом<br>на 105,3 кв.м
                      .product__btn(data-img="kk5.jpg")
                          | Подробнее
        
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k6.jpg").product__img
              .product__bg
                  .product__text
                    .product__title Жилой дом<br>на 130,1 кв.
                    .product__btn(data-img="kk6.jpg")
                          | Подробнее
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k7.jpg").product__img
              .product__bg
                  .product__text
                    .product__title Жилой дом<br>на 166,3 кв.м
                    .product__btn(data-img="kk7.jpg")
                        | Подробнее
        
        .col.col_lg_3.col_md_3.col_sm_6.col_xs_12
          .product
              img(src="img/k0.jpg" style="transform: none !important;").product__img
              .product__bg
                  .product__text
                    .product__title Здесь может быть<br>Ваш проект
                    .btn.order(style="margin: 5px auto;") Отправить заявку



    //-.reviews
        .container
          .reviews__title Выполненные работы
          div(style="text-align: center;max-width: 1040px;margin: auto;")
            +b.zoom(data-img="case1.jpg")
              img(src="img/case1_mini.jpg")
              +e.icon
              .reviews__text Прокладка водоотведения,<br> г.Ростов-на-Дону,<br>ул. Луговая, 7
            +b.zoom(data-img="case2.jpg")
              img(src="img/case2_mini.jpg")
              +e.icon
              .reviews__text Прокладка водоснабжения, <br>г.Ростов-на-Дону,<br> ул. Республиканская, 181
            +b.zoom(data-img="case3.jpg")
              img(src="img/case3_mini.jpg")
              +e.icon
              .reviews__text Прокладка футляра для кабеля,<br>Краснодарский край,<br>Кущёвский район
            +b.zoom(data-img="case5.jpg")
              img(src="img/case5_mini.jpg")
              +e.icon
              .reviews__text Прокладка Трубопровода (водопровод),<br>ул. Ченцова 86
            +b.zoom(data-img="case7.jpg")
              img(src="img/case7_mini.jpg")
              +e.icon
              .reviews__text Устройство канализации,<br>ул.Неклиновская, 18
            +b.zoom(data-img="case8.jpg")
              img(src="img/case8_mini.jpg")
              +e.icon
              .reviews__text Устройство канализации, <br>ул. Муравьева 16
            +b.zoom(data-img="case9.jpg")
              img(src="img/case9_mini.jpg")
              +e.icon
              .reviews__text Прокол под дорогой<br>трасса М4 Дон
            +b.zoom(data-img="case11.jpg")
              img(src="img/case11_mini.jpg")
              +e.icon
              .reviews__text Устройство водопровода, <br>ул. Пескова, 87


    .container
      +b.title Допуски СРО
      .row#doc
        +b.col._xs_6._sm_3
          +b.zoom(data-img="doc1_big.jpg")
            img(src="img/doc1.jpg")
            +e.icon
        +b.col._xs_6._sm_3
          +b.zoom(data-img="doc2_big.jpg")
            img(src="img/doc2.jpg")
            +e.icon
        +b.col._xs_6._sm_3
          +b.zoom(data-img="doc3_big.jpg")
            img(src="img/doc3.jpg")
            +e.icon
        +b.col._xs_6._sm_3
          +b.zoom(data-img="doc4_big.jpg")
              img(src="img/doc4.jpg")
              +e.icon


    //- .container
    //-   +b.title Наши архитекторы
    //-   .row.aa
    //-     +b.col._lg_6._md_6._sm_6._xs_12
    //-       img(src="img/a1.jpg")
    //-       .aa__text
    //-         b Асватур Давидович
    //-         br
    //-         span Главный Архитектор Проектов
    //-         p Выпускник РГААиИ (Ростовской Государственной Академии Архитектуры и Искусств) 2004 г. 
    //-         p Действующий член РООСА (Союза Архитекторов России) с 2008 года
    //-     +b.col._lg_6._md_6._sm_6._xs_12
    //-       img(src="img/a2.jpg")
    //-       .aa__text
    //-         b Виктория Викторовна
    //-         br
    //-         span Главный Инженер Проектов
    //-         p Выпускница РГААиИ (Ростовской Государственной Академии Архитектуры и Искусств) 2007 г.

  .scheme
    .container
      .title Как будет происходить процесс создания дома вашей мечты
      .row
        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 1
            .scheme__title Звонок или заявка
            .scheme__text Вы нам звоните, пишите на e-mail, или заполняете форму обратной связи
            .btn.order(style="margin-top: 30px;") Отправить заявку
        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 2
            .scheme__title Консультация архитектора 
            .scheme__text С вами связывается инженер-консультант, и задает первичные вопросы к подготовке для выезда архитектора
        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 3
            .scheme__title Выезд архитектора
            .scheme__text К Вам выезжает архитектор, и вы обсуждаете все вопросы по планировке, материалам, зонированию и т.д. Так сказать выдаете все свои идеи, которые архитектор, должен будет принять, и воплотить в проект.

        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 4
            .scheme__title Оценка объема работы
            .scheme__text Архитектор делает предпроектные варианты, так сказать показывает как он понял вашу идею, оценивает объем работ и приглашает вас в офис на согласование

        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 5
            .scheme__title Согласование идеи и подписание договора
            .scheme__text Вы смотрите все варианты, которые предлагает архитектор, вносите свои корректировки, изучаете условия договора подписываем с Вами договор, и Вы вносите авансовую часть

        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 6
            .scheme__title Проектирование и согласование проекта
            .scheme__text Мы изготавливаем проект и согласовываем с Вами все детали по оговоренным срокам. После того, как мы согласовали с Вами, то приступаем к согласованию со всеми необходимыми уполномоченными инстанциями

        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 7
            .scheme__title Передача проекта
            .scheme__text Мы торжественно передаем Вам оригинал проекта дома Вашей мечты в нескольких экземплярах, а также на электронном носителе для удобства использования строителями !

        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 8
            .scheme__title Авторский надзор
            .scheme__text Мы осуществляем авторский надзор в процессе строительства (если в этом есть необходимость, и Вы так пожелаете!)

        +b.col._lg_4._md_4._sm_6._xs_12
          .scheme__item
            .scheme__n 9
            .scheme__title Мы желаем вам всего самого наилучшего!
            .scheme__text Вы возводите Дом Вашей Мечты и приглашаете нашу команду на новоселье! (шутка, хотя и такие случаи происходят в нашей практике) 

  .bg
    .container
      +b.p-box
        +e.p Сроки реализации
        +e.text
          |Срок реализации проекта зависит от скорости Ваших согласований и плотного взаимодействия с архитектором!
          br
          br
          |Срок изготовления комплекта чертежей рабочей документации занимает от 14 дней!



    .container        
      .questions
        .questions__title Выберите удобное время для встречи,<br>и мы подробно обсудим Ваш будущий дом
      .btn.order(style="margin-bottom: 30px;") Обсудить проект с архитектором
  .map#map
  .footer
    .container
      .row
        +b.col_sm_4
          .footer__contact.footer__contact_type_adress Ростов-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col_sm_4
          .footer__contact.footer__contact_type_call
            +b.phone-grup._footer 
              +e.phone.primegate-phone 8 (863) 303-38-33
              +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
        +b.col_sm_4
          .footer__contact.footer__contact_type_mail info@bk-invent.ru
  #modal__product.modal
    .modal__wrapper
      .modal__dialog
        .close.modal__close
        .modal__title Получите консультацию архитектора в удобное<br>для Вас время
        .form
          form.ajax
            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
            input(type='hidden', name='url', value!="<?echo $url?>")
            input(type='hidden', name='utm', value!="<?echo $utm?>")
            input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
            input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
            input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
            input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
            input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
            input#product-input(type='hidden', name='order', value!='Проектирование домов')
            input.form__btn(type='submit', value='Заказать')

  .modal#modal__order
    .modal__wrapper
        .modal__dialog
          .close.modal__close
          .modal__title Получить бесплатную консультацию
          +b.form
            form.ajax
              input(placeholder='Введите Ваше имя' name='name').input.input_type_name
              input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
              input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
              input(type='hidden', name='url', value!="<?echo $url?>")
              input(type='hidden', name='utm', value!="<?echo $utm?>")
              input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
              input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
              input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
              input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
              input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
              input(type='hidden', name='order', value!='Проектирование домов. Консультация')
              input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в течении 20 минут

  .modal.modal_type_zoom#modal__zoom
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .zoom-img  
              img(src="")#zoom__img

  .modal.modal_type_zoom#modal__k
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .zoom-img
              img(src="")#zoom__img-k
            .btn.order-m(style="margin-bottom: 30px;") Обсудить проект с архитектором
            //- .form-k
            //-   .modal__title Получить бесплатную консультацию
            //-   +b.form
            //-     form.ajax
            //-       input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            //-       input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            //-       input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
            //-       input(type='hidden', name='url', value!="<?echo $url?>")
            //-       input(type='hidden', name='utm', value!="<?echo $utm?>")
            //-       input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
            //-       input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
            //-       input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
            //-       input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
            //-       input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
            //-       input(type='hidden', name='order', value!='Проектирование домов. Консультация')
            //-       input(type='submit' value='Отправить').form__btn
  script.
    (function () {
        var pg = document.createElement('script');
        var protocol = 'https:' == document.location.protocol ? 'https://' : 'http://';
        pg.src = protocol + 'js.primegate.ru/primegate.min.js'; pg.setAttribute('async', 'true');
        document.documentElement.getElementsByTagName('head')[0].appendChild(pg);
        PrimeGate = {}; window.pg = []; components = ['init', 'track', 'identify'];
        for (var i in components) {
            PrimeGate[components[i]] = (function(component) {
                return function () {
                    window.pg.push(component, [].slice.call(arguments, 0));
                }
            }(components[i]));
        }
    })();
    PrimeGate.init(1548413692);
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/waypoints/lib/jquery.waypoints.min.js")
  //- script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(52451677, "init", {
    id:52451677,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
  div
    img(src='https://mc.yandex.ru/watch/52451677', style='position:absolute; left:-9999px;', alt='')
